# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
import pandas as pd

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [3]:
# Load Dataset
url='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
setlab1_df = pd.read_csv(url)

In [4]:
setlab1_df.columns = setlab1_df.columns.str.lower().str.replace(" ","_")

In [5]:
# numero de columnas y lineas
setlab1_df.shape

(4008, 11)

In [6]:
#tipo de data
setlab1_df.dtypes

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [7]:
# algunas de las categorias no son adecuadas, por ejemplo el numero de open complaints deberia ser un numero. Habira que cambiar la categoria a int64. Otra categoria que podria cambiarse es el de genero, que dejaria de ser un string y pasaria a ser una category

In [8]:
# num de valores unicos
setlab1_df.nunique ()

customer                     1071
st                              8
gender                          5
education                       6
customer_lifetime_value      1027
income                        774
monthly_premium_auto          132
number_of_open_complaints       6
policy_type                     3
vehicle_class                   6
total_claim_amount            761
dtype: int64

In [9]:
#las columnas categoricas parecen ser: St,Education,Gender,vehicule_class,policy_type, number_of_open_complaints

In [10]:
setlab1_df.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [11]:
df2 = setlab1_df[['st','gender', 'education', 'vehicle_class', 'policy_type']]

In [12]:
for col in df2:
    print(f"{col} son números únicos {df2[col].nunique()}")

st son números únicos 8
gender son números únicos 5
education son números únicos 6
vehicle_class son números únicos 6
policy_type son números únicos 3

In [13]:
# mi conclusion es que para las columnas categoricas, las veces que aparece un valor unico es extremadamente baja. Los datos son repetidos, debido a que responden a un categorizacion generica.

In [14]:
df3= setlab1_df[['income', 'total_claim_amount', 'monthly_premium_auto']]

In [15]:
df3.describe ()

             income  total_claim_amount  monthly_premium_auto
count   1071.000000         1071.000000           1071.000000
mean   39295.701214          404.986909            193.234360
std    30469.427060          293.027260           1601.190369
min        0.000000            0.382107             61.000000
25%    14072.000000          202.157702             68.000000
50%    36234.000000          354.729129             83.000000
75%    64631.000000          532.800000            109.500000
max    99960.000000         2893.239678          35354.000000

In [16]:
#mis conclusiones

In [17]:
df2.describe ()

            st gender education  vehicle_class    policy_type
count     1071    954      1071           1071           1071
unique       8      5         6              6              3
top     Oregon      F  Bachelor  Four-Door Car  Personal Auto
freq       320    457       324            576            780

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [18]:
setlab1_df['policy_type'].value_counts()

policy_type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [19]:
maximovalor= setlab1_df['policy_type'].value_counts()
maximovalor.idxmax ()

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [27]:
setlab1_df.loc[setlab1_df["policy_type"] == "Personal Auto", "income"].mean().round(2)

38180.7

In [28]:
setlab1_df.loc[setlab1_df["policy_type"] == "Corporate Auto", "income"].mean().round(2)

41390.31

In [31]:
media_personal_auto= setlab1_df.loc[setlab1_df["policy_type"] == "Personal Auto", "income"].mean().round(2)

In [32]:
media_corporate_auto= setlab1_df.loc[setlab1_df["policy_type"] == "Corporate Auto", "income"].mean().round(2)

In [30]:
print (f'para las polizas de Personal Autos el promedio de ingresos es de: {media_personal_auto}')

para las polizas de Personal Autos el promedio de ingresos es de: 38180.69871794872

In [33]:
print (f'para las polizas de Corporate Autos el promedio de ingresos es de: {media_corporate_auto}')

para las polizas de Corporate Autos el promedio de ingresos es de: 41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here